<div id="content"></div>

<script id="curator" type="text/ractive">
  <header>
    The Internet Control Room
  </header>
  <div class="left_pane">
    <h1>{{title}}</h1>
    <h5>{{description}}</h5>
    <span>ALERT</span>
    <div class="control_panel">
      <div class="active_stream">
        {{active_stream.title}}
      </div>
      <div class="sub_panel">
        <ul class="featured_streams">
          {{#featured_streams}}
            <li>{{title}}</li>
          {{/featured_streams}}
        </ul>
      </div>
    </div>
  </div>
  <div class="right_pane">
    <h3>Live Streams</h3>
    <input type="search" id="event_search" value="{{event_query}}">
    <ul>
      {{#search_results}}
        <li class="search_resut">
          {{title}}
        </li>
      {{/search_results}}
    </ul>
    <div id="#chat_room"></div>
  </div>
</script>
        
<script type="text/javascript">
  $(document).ready(function(){
    curator = new Ractive({
      el: $('#content'),
      template: '#curator',
      data: {
        title: "OMG ITS GOIN DOWN",
        description:"srsly...",
        active_stream: {
            title: 'Main Live Stream',
            description: 'descr goes hurr',
            url: 'at this url',
        },
        featured_streams: [
            {
              title: 'LS 1',
              description: 'desc',
              url: 'url_goes_here'
            },
            {
              title: 'LS 2',
              description: 'desc',
              url: 'url_goes_here'
            },
            {
              title: 'LS 3',
              description: 'desc',
              url: 'url_goes_here'
            },
            {
              title: 'LS 4',
              description: 'desc',
              url: 'url_goes_here'
            }
          ],
          search_results: [
          {
            title: 'LS 1',
            description: 'desc',
            url: 'url_goes_here'
          },
          {
            title: 'LS 2',
            description: 'desc',
            url: 'url_goes_here'
          },
          {
            title: 'LS 3',
            description: 'desc',
            url: 'url_goes_here'
          },
          {
            title: 'LS 4',
            description: 'desc',
            url: 'url_goes_here'
          }
        ]
      }
    })

    fb_url = 'https://flickering-inferno-7644.firebaseio.com/';
    myFirebaseRef = new Firebase( fb_url );
    myFirebaseRef.on( 'value', function ( data ) {
      //parse event information
      //run curator.set({data_object});
    });
  });
</script>
