<div id="content" class="admin"></div>

<script id="curator" type="text/ractive">
  <header>
    The Internet Control Room
  </header>
  <div class="left_pane">
    <div class="alert">
      <%= image_tag "alert.png", class: "alert-img" %>
      <h5>ALERT</h5>
    </div>  
    <div class="stream-heading">
      <input class="stream_title" type="text" value="{{title}}" />
      <textarea class="stream_description" value="{{description}}" />
    </div>
    <div class="control_panel">
      <div class="active_stream">
        <p>{{active_stream.title}}</p>
      </div>
      <div class="sub_panel">
        <ul class="featured_streams">
          {{#featured_streams}}
            <li on-click="make_active">
              <img src="{{thumbnail}}">
              {{title}}
            </li>
          {{/featured_streams}}
        </ul>
      </div>
    </div>
  </div>
  <div class="right_pane">
    <h3>Live Streams</h3>
    <input type="search" id="event_search" value="{{event_query}}">
    {{#if searching}}
      <p>Searching.</p>
    {{else}}
      {{#if search_results.length}}
        <ul>
          {{#search_results}}
            <li on-click="add_featured" class="search_result">
              <img src="{{thumbnail}}">
              {{title}}
            </li>
          {{/search_results}}
        </ul>
      {{else}}
        {{#if event_query != ''}}
          <p>No Results.</p>
        {{else}}
          <p>Please enter a query</p>
        {{/if}}
      {{/if}}
    {{/if}}
    <div id="#chat_room"></div>
  </div>
</script>
        
<script type="text/javascript">
  $(document).ready(function(){
    curator = new Ractive({
      el: $('#content'),
      template: '#curator',
      data: {
        title: "OMG ITS GOIN DOWN",
        description:"srsly...",
        active_stream: {},
        featured_streams: [],
          search_results: []
      }
    });
    curator.observe( 'event_query', function ( new_query ) {
      if ( typeof new_query != 'undefined' && new_query != '' ) {
        if ( typeof query != 'undefined' )
          query.abort();

        query = $.ajax({
          url : '/api/streams/search?q=' + new_query,
          beforeSend : function () {
            curator.set({searching:true});
          }
        })
        .done( function ( response ) {
          var results = [];
          response.forEach( function ( result, i ) {
            console.log(result);
            var title = result[0].table.title,
                desc = result[0].table.description,
                url = result[0].table.url,
                thumbnail = result[0].table.images[0] ? result[0].table.images[0].url : 'http://i.ytimg.com/vi/0RzTXFF0OYE/hqdefault.jpg',
                embedly_url = result[0].table.media.table.html;
            results.push({
              title : title,
              description : desc,
              url : url,
              thumbnail : thumbnail,
              embedly_url : embedly_url
            });
          });
          curator.set( 'search_results' , results );
        })
        .fail( function ( ) {
          curator.set( 'search_results', [] );
        })
        .always( function ( ) {
          curator.set( 'searching', false );
        });
      }

    });
    curator.on( 'add_featured', function ( e ) {
      curator.push( 'featured_streams', e.context );

    });
    curator.on( 'make_active', function ( e ) {
      curator.set( 'active_stream', e.context );
      
      myFirebaseRef.child('event_info/active_stream').set({
        title: e.context.title,
        description: e.context.description,
        thumbnail: e.context.thumbnail,
        html: e.context.embedly_url
      });
    });

    fb_url = 'https://shining-torch-9827.firebaseio.com/';
    myFirebaseRef = new Firebase( fb_url );

    $('.stream_title').blur(function() {
      myFirebaseRef.child('event_info').update({ title: $(this).val() });
    });

    $('.stream_description').blur(function() {
      myFirebaseRef.child('event_info').update({ description: $(this).val() });
    });

    $('.alert').click(function() {
      myFirebaseRef.child('notifications').push({ test: true });
    });
  });
</script>
