<div id="content"></div>

<script id="curator" type="text/ractive">
  <header>
    The Internet Control Room
  </header>
  <div class="left_pane">
    <h1>{{title}}</h1>
    <h4>{{description}}</h4>
    <span>ALERT</span>
    <div class="control_panel">
      <div class="active_stream">
        <p>{{active_stream.title}}</p>
        <input class="btn-switch" type="button" value="Switch video"></input>
      </div>
      <div class="sub_panel">
        <ul class="featured_streams">
          {{#featured_streams}}
            <li>{{title}}</li>
          {{/featured_streams}}
        </ul>
      </div>
    </div>
  </div>
  <div class="right_pane">
    <h3>Live Streams</h3>
    <input type="search" id="event_search" value="{{event_query}}">
    <ul>
      {{#search_results}}
        <li class="search_resut">
          {{title}}
        </li>
      {{/search_results}}
    </ul>
    <div id="#chat_room"></div>
  </div>
</script>
        
<script type="text/javascript">
  var htmls = ['<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FMRujbSn6pUU%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DMRujbSn6pUU&image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FMRujbSn6pUU%2Fhqdefault.jpg&key=internal&type=text%2Fhtml&schema=youtube" width="500" height="281" scrolling="no" frameborder="0" allowfullscreen></iframe>',
    '<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fnew.livestream.com%2Faccounts%2F3827561%2Fevents%2F2074586%2Fplayer%3Fwidth%3D640%26height%3D360&url=http%3A%2F%2Fnew.livestream.com%2FNewsChannel5Plus%2Flive&image=http%3A%2F%2Fimg.new.livestream.com%2Fevents%2F00000000001fa7da%2Ff3ee5322-6706-430c-8a17-43a8b7968e92.png&key=internal&type=text%2Fhtml&schema=livestream" width="500" height="281" scrolling="no" frameborder="0" allowfullscreen></iframe>'];

  $(document).ready(function(){
    curator = new Ractive({
      el: $('#content'),
      template: '#curator',
      data: {
        title: "OMG ITS GOIN DOWN",
        description:"srsly...",
        active_stream: {
            title: 'Main Live Stream',
            description: 'descr goes hurr',
            url: 'at this url',
        },
        featured_streams: [
            {
              title: 'LS 1',
              description: 'desc',
              url: 'url_goes_here'
            },
            {
              title: 'LS 2',
              description: 'desc',
              url: 'url_goes_here'
            },
            {
              title: 'LS 3',
              description: 'desc',
              url: 'url_goes_here'
            },
            {
              title: 'LS 4',
              description: 'desc',
              url: 'url_goes_here'
            }
          ],
          search_results: [
          {
            title: 'LS 1',
            description: 'desc',
            url: 'url_goes_here'
          },
          {
            title: 'LS 2',
            description: 'desc',
            url: 'url_goes_here'
          },
          {
            title: 'LS 3',
            description: 'desc',
            url: 'url_goes_here'
          },
          {
            title: 'LS 4',
            description: 'desc',
            url: 'url_goes_here'
          }
        ]
      }
    })

    fb_url = 'https://flickering-inferno-7644.firebaseio.com/';
    myFirebaseRef = new Firebase( fb_url );

    myFirebaseRef.child('event_info').child('active_stream').set({ html: htmls[0] });

    myFirebaseRef.child('event_info').child('active_stream').on('value', function(data) {
      htmls.push(htmls.shift());
    });

    $('.btn-switch').click(function() {
      myFirebaseRef.child('event_info').child('active_stream').set({ html: htmls[0] });
    });
  });
</script>
