<div id="content" class="home"></div>

<script id="viewer" type="text/ractive">
  <header>
    The Internet Control Room
  </header>
  <div class="left_pane">
    <h1>{{title}}</h1>
    <h4>{{description}}</h4>
    <div class="control_panel">
      <div class="active_stream">
        <p>{{active_stream.title}}</p>
        <iframe class="embedly-embed" src="" width="500" height="281" scrolling="no" frameborder="0" allowfullscreen></iframe>
      </div>
      <form>
        <input type="checkbox" /> Notifications: On/Off
      </form>  
    </div>
  </div>
  <div class="right_pane">
    <div id="#chat_room"></div>
  </div>
</script>

<script type="text/javascript">
  $(document).ready(function(){
    viewer = new Ractive({
      el: $('#content'),
      template: '#viewer',
      data: {
        title: "OMG ITS GOIN DOWN",
        description:"srsly...",
        active_stream: {
            title: 'Main Live Stream',
            description: 'descr goes hurr',
            url: 'at this url',
        }
      }
    })

    player = new playerjs.Player($('.embedly-embed')[0]);

    fb_url = 'https://shining-torch-9827.firebaseio.com';
    myFirebaseRef = new Firebase( fb_url );
    myFirebaseRef.child('event_info/active_stream').on('value', function(data) {
      var newSrc = data.val() ? data.val().html.match('src="[^"]+"')[0].slice(5,-1) : '';
      $('.embedly-embed').attr('src', newSrc).load(function() {
        player.play();
      });
    });
    myFirebaseRef.child('event_info').on('value', function(data) {
      if (data.val()) {
        $('h1').text(data.val().title);
        $('h4').text(data.val().description);
      }
    });
  });
</script>
