<%= audio_tag('sport_air_horn_reverb.mp3', :class => 'notification', :autoplay => false) %>

<div id="content" class="home">
</div>

<script id="viewer" type="text/ractive">
  <header>
    The Internet Control Room
  </header>
  <div class="left_pane">
    <h1>{{title}}</h1>
    <h4>{{description}}</h4>
    <div class="control_panel">
      <div class="active_stream">
        <p>{{active_stream.title}}</p>
        <iframe class="embedly-embed" src="" width="500" height="281" scrolling="no" frameborder="0" allowfullscreen></iframe>
      </div>
      <form>
        <input type="checkbox" checked/> Notifications: On/Off
      </form>  
    </div>
  </div>
  <div class="right_pane">
    <div id="#chat_room"></div>
  </div>
</script>

<script type="text/javascript">
  $(document).ready(function(){
    viewer = new Ractive({
      el: $('#content'),
      template: '#viewer',
      data: {
        title: "Title of Broadcast",
        description:"Short description of what the broadcast is about and where its sources are from.",
        byline: "Control Room Team",
        active_stream: {
            title: '',
            description: '',
            url: '',
        }
      }
    })

    fb_url = 'https://shining-torch-9827.firebaseio.com';
    myFirebaseRef = new Firebase( fb_url );
    myFirebaseRef.child('event_info/active_stream').on('value', function(data) {
      var newSrc = data.val() ? data.val().html.match('src="[^"]+"')[0].slice(5,-1) : '';
      $('.embedly-embed').attr('src', newSrc);
    });

    myFirebaseRef.child('event_info').on('value', function(data) {
      if (data.val()) {
        $('h1').text(data.val().title);
        $('h4').text(data.val().description);
      }
    });

    myFirebaseRef.child('notifications').on('child_added', function(data) {
      $('.notification')[0].play();
    });
  });
</script>
