<!DOCTYPE html>
<html>
<head>
  <title>ControlRoom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.ractivejs.org/latest/ractive.js"></script>
  <script id="chat_template" type="text/ractive">
    <div>chat log</div>
    <div>
      {{#chat_room:ind}}
        [{{timestamp}}] {{username}}: {{message}}
        <br>
      {{/chat_room}}
    </div>
  </script>
  <style>
    .curator {
      color: red;
    }
    header {
      background-color: black;
      color: white;
      height: 40px;
      font-size: 18px;
      font-weight: 700;
    }
    .left_pane {
      width: 60%;
      float: left;
    }

    .right_pane {
      width: 35%;
      float: left;
    }
    .active_stream {
        width: 100%;
        height: 320px;
    }
    .featured_streams>li {
        display: inline-block;
        width: 25%;
        height: 100px;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
